#register-section {
    max-width: 1312px;
    margin: 0 auto;
}

.next {
    padding: 30px;
    margin-top: 10px;
    border-radius: 6px;
    ;
    display: flex;
    justify-content: center;
    background: white;
    a {
        padding: 20px 30px;
        font-size: 25px;
        border-radius: 5px;
        cursor: default;
        user-select: none;
        background-color: rgba(214, 214, 214, .5);
        color: #7b7b7b;
        text-decoration: none;
    }
    .active {
        background-color: #f06880;
        color: white;
        &:hover {
            background-color: #e94960;
        }
    }
}

//asp errors
.field-validation-error {
    color: #d0425b;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: -20px;
}

.error-asp {
    border-left-color: #d0425b !important;
    color: #d0425b !important;
}