.login-page {
    form {
        width: 90%;
        margin: 0 auto;
    }
    .form-row {
        display: block !important;
    }
    .remember-me {
        margin: 0 38px !important;
        top: -25px;
        #rememberMe {
            width: 16px !important;
            position: relative;
            height: 18px !important;
            -webkit-appearance: none;
            border: 1px solid #7e8993 !important;
            border-radius: 4px;
            background: #fff;
            cursor: pointer;
            outline: 0;
            padding: 0!important;
            text-align: center;
            vertical-align: middle;
            &:checked {
                border: 1px solid #0090d9 !important;
                .fa-check {
                    display: block
                }
            }
        }
        i {
            pointer-events: none;
            font-size: 15px;
            position: absolute;
            left: 5px;
            top: 7px;
        }
        label {
            font-size: 20px !important;
        }
    }
}

#login-page-join-now {
    background-color: #f06880;
    color: white;
}

#login-page-button {
    margin-left: 40px;
}

.pin-sent-confirmation {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px 20px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
    color: #009fdf;
    text-align: center;
    h3 {
        font-size: 22px;
        span {
            color: #f06880;
        }
    }
}