
@{
    ViewData["Title"] = "Support";
}

<style>
    .card {
        margin-top: 20px;
        width: 18rem;
    }
</style>

<div class="container d-flex justify-content-between mt-3 flex-wrap">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Support Type</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Join Conversation</a>
        </div>
    </div>
</div>

