
@{
    ViewData["Title"] = "Cancel Membership";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model User

<div class="content ">
    <div class="container80">
        <div class="body">
            <h2 class="header">Cancel Membership</h2>
            <div class="page-description">
                <div class="font-16">
                    <p>If you wish to cancel your membership you may do so below.</p>
                    <p> All your subscription plans will be canceled and deleted</p>
                    <strong class="warning">Warning! Your account will be deleted!</strong>
                    <p> If you cannot attend the gym due some reason we just to <a href="">freeze</a> your membership instead of canceling it</p>
                </div>
            </div>
            <div class="modal">
                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <h2 class="header">Confirm</h2>
                    <p>Are you sure you want to cancel your membership?</p>
                    <strong class="warning">This action cannot be undone.</strong>
                    <div class="modal-buttons">
                        <form method="post" id="cancel" asp-action="Cancel" asp-controller="MyAccount">
                        </form>
                        <button form="cancel" type="submit" class="button  class-yes">Yes</button>

                        <a id="blue" class="button x">No</a>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" form="changegym" class="button">Cancel Membership</button>
    </div>
</div>
<script src="~/js/freeze-cancel-modal.js"></script>

