
@{
    ViewData["Title"] = "BookClass";
    Layout="~/Views/Shared/Layout2.cshtml";
}

    <div class="content ">
        <div class="container80">
            <div class="header">
                <h2>Book a class</h2>
            </div>
            <div class="body">
                <div class="form">
                    <form action="">
                        <div class="form-group">
                            <label for="">Please Select:</label>
                            <select name="" id="">
                                <option value="1">Baku</option>
                                <option value="1">Baku</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="classes">
                    <div class="classes-header">
                        <h4>Month</h4>
                    </div>
                    <div class="calendar">
                        <div class="tab-nav">
                            <ul>
                                @for (int i=0;i<7;i++) {
                                    String d= String.Concat("d", i + 1);
                                <li>
                                    <a href="#!" id="@d" class="js-toggle-day ">
                                        <span class="day">@DateTime.Today.AddDays(i).ToString("ddd")</span>
                                        <span class="date">@DateTime.Today.AddDays(i).Day</span>
                                    </a>
                                </li>
                                }
                            </ul>
                        </div>
                        <section>
                            <article id="a1" class="active">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a2" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-blue">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a3" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a4" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a5" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a6" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article id="a7" class="active hidden">
                                <div class="class-container">
                                    <div class="class bg-pickle">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">6:00pm</div>
                                                <div class="duration">60 mins</div>
                                            </div>
                                            <h5 class="class-name ">RUNNING CLUB</h5>

                                            <p class="class-status">Available</p>
                                        </div>
                                        <a href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                If you love running or if you are someone who want's to start running. ... This club makes running fun and motivates you to push through their goals and set new ones.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    14
                                                </span>/<span class="total">
                                                    15
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-2" type="checkbox">
                                                <label class="action" for="booked-2">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-2">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="class bg-pink">
                                        <div class="details">
                                            <div class="time-duration">
                                                <div class="time">8:30pm</div>
                                                <div class="duration">30 mins</div>
                                            </div>
                                            <h5 class="class-name ">Legs, Bums &amp; Tums</h5>
                                            <div class="time-duration weekly">
                                                <div class="time">8:30</div>
                                            </div>
                                            <p class="class-status">Available</p>


                                        </div>

                                        <a style="background-image: none;" href="#!" class="js-change-trigger icon-plus">
                                            <i class="fas fa-plus"></i>
                                        </a>

                                        <div class="actions js-actions hidden">
                                            <p class="class-description">
                                                Get leaner legs, toned tummy and pert bum you’ve always dreamed about. Unfortunately, nothing’s ever that easy. But it’s not as hard as you might think either. Try our Legs, Bums &amp; Tums class and
                                                raise, lunge and squat to the lower body you’re proud of.
                                            </p>
                                            <a href="#!" class="button js-book-class">Book Now</a>
                                            <div class="spaces">
                                                Available spaces:
                                                <span class="available">
                                                    9
                                                </span>/<span class="total">
                                                    12
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message hidden">
                                            <span>Great, you are booked into this class.</span>
                                            <div class="confirm-action arrow">
                                                <input class="check" id="booked-3" type="checkbox">
                                                <label class="action" for="booked-3">Cancel booking</label>
                                                <span class="confirm" href="#!">Cancel booking</span>
                                                <a class="yes js-cancel" href="#!">YES</a>
                                                <label class="no" for="booked-3">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </section>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <script src="~/js/book-class.js "></script>
