
@{
    ViewData["Title"] = "Trainers";
    Layout = "~/Views/Shared/ViewModelLayout.cshtml";
}

@model TrainerViewModel
<div class="content ">
    <div class="container80">
        <div class="header">
            <h2>Personal Trainers</h2>
        </div>
        <div class="body trainer-body">
            <p id="top-p">Meet the personal trainers team below who will help you achieve the results and goals you are looking for! To contact the personal trainer of your choice, simply click on the email address or give them a call. </p>
            <p id="bottom-p">We look forward to meeting you soon!</p>
            <div class="trainers">
                @foreach (Trainer t in Model.trainers)
                {
                    String[] specialities = t.Speciality.Split('|');
                    <div class="trainer">
                        <div class="top">
                            <div class="circle">
                                <img src="~/image/@t.image" alt="">
                            </div>
                        </div>
                        <div class="bottom">
                            <div class="about">
                                <h3 class="name">@t.fullName</h3>
                                <p class="specialities">Speciality Areas:</p>
                                @foreach (String s in specialities)
                                {
                                    <p>@s</p>
                                }
                            </div>
                            <div class="foot">
                                <a href="@Url.ActionLink("AboutTrainer","MemberArea",new{ trainerID=t.ID })" class="trainer-info-a">More info<i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
