.login-container2 {
    background: #f3f3f4;
    max-width: 66%;
    margin: 0 auto;
    padding: 100px 0px;
}

.foot {
    form {
        .form-row {
            display: flex;
            justify-content: space-between;
            margin: 30px 40px;
            label {
                flex: 4;
                padding: 12px 0px;
                font-size: 15px;
                font-weight: 400;
                text-align: left;
                letter-spacing: 0;
                line-height: 1.4;
                color: #666;
                span {
                    color: red;
                    padding: 0 3px;
                }
            }
            input {
                flex: 6;
                transition: all .15s ease-in-out;
                border: 1px solid #d6d6d6;
                border-left: 5px solid $blue;
                background-color: #fff;
                line-height: normal;
                font-size: 20px;
                outline: 0;
                color: #364e72;
                width: 100%;
                padding: 10px;
                height: 23px;
                box-shadow: none;
            }
            #gender-label {
                flex: 0;
            }
            .checkboxes {
                flex: 6;
                display: flex
            }
        }
    }
}