#member-area {
    .container {
        display: flex;
        max-width: 1312px;
        margin: auto;
        position: relative;
        width: 100%;
        padding: 0 20px;
        .nav-pane {
            width: 25%;
            padding-top: 60px;
            background-color: red;
            .left-navigation {
                h2 {}
                .nav-menue {
                    .expandable {
                        .nav-sub-menu {
                            display: none;
                        }
                    }
                }
            }
        }
        .content-pane {
            width: 75%;
            padding-top: 60px;
        }
    }
}