.content {
    .heading {
        font-size: 30px;
        color: #364e72;
        margin-bottom: 3rem;
    }
    .cancel-anchor {
        cursor: pointer;
        text-decoration: underline;
        color: #009fdf;
        font-size: 24px;
    }
    #button-row {
        padding: 0;
    }
}

@media screen and (max-width: 800px) {
    #member-area {
        .table {
            width: 92vw;
            left: -15px;
            position: relative;
        }
    }
}