
@{
    ViewData["Title"] = "EditTrainer";
}
@model AdminTrainersViewModel

<div class="container mt-2 ">
    <h1 class="h2 pb-3 border-bottom ">Edit Trainer</h1>


    <form method="post" asp-action="EditTrainer" asp-controller="Trainer" asp-area="Admin" enctype="multipart/form-data">
        <input type="hidden" asp-for="trainer.ID" />
        <div class="form-row">
            <div class="form-group col-md-6 ">
                <label asp-for="trainer.fullName">Trainer Full Name</label>
                <input type="text" class="form-control " asp-for="trainer.fullName" placeholder="Trainer Name " required>
                <span asp-validation-for="trainer.fullName"></span>
            </div>
            <div class=" form-group col-md-6 ">
                <label asp-for="trainer.gym">Gym Location:</label>
                <select class="form-control " asp-for="trainer.gym.gymID" required>
                    @foreach (Gym gym in Model.gyms)
                    {
                        <option value="@gym.gymID">@gym.gymLocation</option>
                    }

                </select>
                <span asp-validation-for="trainer.gym"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-3 ">
                <label asp-for="trainer.title">Title</label>
                <select class="form-control " asp-for="trainer.title">
                    <option value="Mr">Mr</option>
                    <option value="Ms">Ms</option>
                    <option value="Mrs">Mrs</option>
                </select>
                <span asp-validation-for="trainer.title"></span>
            </div>
            <div class="form-group col-md-3 ">
                <p>Picture</p>
                <input type="file" class="custom-file-input" id="customFile" asp-for="trainer.Upload">
                <label class="custom-file-label" asp-for="trainer.Upload">Choose file</label>
                <span asp-validation-for="trainer.Upload"></span>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="trainer.email">Email</label>
                <input type="email" class="form-control " asp-for="trainer.email" placeholder="trainer@crunch.com ">
                <span asp-validation-for="trainer.email"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6 ">
                <label asp-for="trainer.Speciality">Specialties</label>
                <input class="form-control" type="text" asp-for="trainer.Speciality" placeholder="Specialties">
                <span asp-validation-for="trainer.Speciality"></span>
            </div>
            <div class="form-group col-md-6 ">
                <label asp-for="trainer.Qualifications">Qualifications</label>
                <input type="text" class="form-control " asp-for="trainer.Qualifications" placeholder="Qualifications ">
                <span asp-validation-for="trainer.Qualifications"></span>
            </div>
        </div>
        <div class="form-group ">
            <label asp-for="trainer.aboutMe">About Trainer</label>
            <textarea class="form-control " asp-for="trainer.aboutMe" rows="3 "></textarea>
            <span asp-validation-for="trainer.aboutMe"></span>
        </div>

        <button type="submit" class="btn btn-primary ">Update trainer</button>
    </form>
</div>

<script src="~/js/fileInput.js"></script>