#faq {
    margin: 120px 0 250px;
    .container {
        margin-left: auto;
        margin-right: auto;
        max-width: 1140px;
        padding: 0 50px;
        .faq-nav {
            ul {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                text-align: center;
                li {
                    a {
                        cursor: pointer;
                        color: #e44473;
                        transition: all 0.3s;
                        line-height: 14px;
                        font-size: 16px;
                        letter-spacing: 2px;
                        &:hover {
                            color: black;
                        }
                    }
                }
            }
            .dots-bottom {
                position: relative;
                padding: 30px 0 0 0;
                &::after {
                    background-size: auto 100%;
                    background: url("https://dj7w0h47bhjwk.cloudfront.net/assets/border--dot-gray-f09e6132cdbca0b2b1cca50ba2eb87e4d3fc7ea900f66a90ae48a3c741d04a7a.png") repeat-x;
                    content: '';
                    height: 2px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
        .dots-bottom {
            position: relative;
            padding: 30px 0 0 0;
            &::after {
                background-size: auto 100%;
                background: url("https://dj7w0h47bhjwk.cloudfront.net/assets/border--dot-gray-f09e6132cdbca0b2b1cca50ba2eb87e4d3fc7ea900f66a90ae48a3c741d04a7a.png") repeat-x;
                content: '';
                height: 2px;
                left: 0;
                position: absolute;
                width: 100%;
                z-index: 1;
            }
        }
        .sub-faq {
            margin-top: 120px;
            header {
                h2 {
                    color: #0e0447;
                    font-size: 40px;
                    line-height: 35px;
                }
            }
            .faq-question {
                h3 {
                    margin-bottom: 5px;
                    color: #0e0447;
                    line-height: 30px;
                    font-size: 26px;
                }
                p {
                    color: #686868;
                    margin-bottom: 15px;
                    line-height: 26px;
                    font-size: 17px;
                }
                .click-here {
                    color: #e44473;
                    transition: all 0.3s;
                    text-decoration: underline;
                    cursor: pointer;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
}

#support {
    .chat-support {
        border-radius: 34px 8px 34px 34px;
        box-shadow: 0 5px 4px 0 rgba(0, 0, 0, .26);
        cursor: pointer;
        position: fixed;
        bottom: 20px;
        right: 15px;
        z-index: 9995;
        height: 60px;
        width: 60px;
        background-color: #009fdf !important;
        border-color: transparent #009fdf transparent transparent;
        i {
            color: #fff;
            text-align: center;
            font-size: 26px;
            padding: 15px;
        }
    }
    .chat {
        background-color: #f4f5f7;
        max-height: 720px;
        min-height: 0;
        overflow: hidden;
        height: 400px;
        width: 384px;
        position: fixed;
        bottom: 20px;
        right: 15px;
        border-radius: 8px 8px 0 0;
        box-shadow: 0 -2px 18px 0 rgba(209, 209, 209, .5);
        color: #fff;
        display: table;
        font-size: 12px;
        font-weight: 500;
        transition: all .3s ease-out;
        z-index: 1000;
        .exit-icon {
            font-size: 22px;
            position: fixed;
            right: 30px;
            cursor: pointer;
        }
        .top {
            position: relative;
            height: 15%;
            background-color: #009fdf;
            display: flex;
            align-items: center;
            h2 {
                font-size: 20px;
                text-transform: uppercase;
                opacity: 0.9;
                padding: 0 20px;
            }
        }
        .body {
            overflow: auto;
            height: 70%;
            padding: 12px 4px;
            background: white;
            .sent-text-container {
                border-radius: 20px 4px 8px 20px;
                padding: 12px 14px;
                background-color: #009fdf;
                width: fit-content;
                max-width: 45%;
                margin: 2px 12px 3px auto;
            }
            .recieved-text-container {
                border-radius: 4px 20px 20px;
                margin-bottom: 0;
                padding: 12px 14px;
                color: #3a4b67;
                background: #ddd;
                width: fit-content;
                max-width: 45%;
                margin-right: auto;
                margin-left: 12px;
            }
        }
        .bottom {
            height: 15%;
            background: white;
            border-top: 1px solid #d8dee3;
            #chat-input {
                padding: 0 10px;
                padding-top: 10px;
                width: 80%;
                border: none;
                font-size: 16px;
                resize: none;
                &:focus {
                    border-color: #white;
                    outline: 0;
                }
            }
            i {
                cursor: pointer;
                background: #009fdf;
                border-radius: 50%;
                font-size: 20px;
                padding: 10px;
                position: relative;
                top: -12px;
            }
        }
    }
}