
@{
    ViewData["Title"] = "Chat";
}
@model String
<section id="support">

    <div class="chat support-panel">
        <div class="top">
            <h2 id="groupID">@Model</h2>
        </div>
        <div class="body">
        </div>
        <div class="bottom">
            <textarea type="text" id="chat-input" placeholder="Enter message"></textarea>
            <i class="fas fa-arrow-up js-send"></i>
        </div>
    </div>
</section>



