
@{
    ViewData["Title"] = "Support";
}

<style>
    .card {
        margin-top: 20px;
        width: 18rem;
    }
</style>

<div class="container d-flex justify-content-between mt-3 flex-wrap signalR-cards">

   
</div>




