.details {
    border-bottom: 1px solid #f3f3f4;
    .form-group {
        width: 100%;
        margin: 23px 0;
        display: flex;
        justify-content: space-between;
        label {
            width: 50%;
            font-size: 15px;
        }
        span {
            width: 50%;
            font-weight: bold;
            font-size: 15px;
        }
    }
}

#edit {
    margin: 40px 0px;
}

#flex1 {
    flex: 1;
}

//Responsiveness
@media screen and (max-width: 425px) {
    .details {
        .form-group {
            flex-direction: column;
        }
        .form-row {
            flex-direction: column;
        }
        .checkbox {
            flex-direction: row !important;
        }
    }
}