.flex {
    display: flex;
}

.button {
    font-family: 'Roboto Condensed', sans-serif !important;
    background-color: #f06880;
    font-size: 30px;
    border-radius: 6px;
    padding: 6px 18px 5px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    outline: 0;
    cursor: pointer;
    border: 1px solid transparent;
    line-height: 1;
    &:hover {
        background-color: #e94960;
    }
}

.btn-off {
    background-color: rgba(214, 214, 214, .5);
    color: #7b7b7b;
}

form input[readonly=readonly] {
    cursor: not-allowed;
    opacity: .5;
}

//modal

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content/Box */

.modal-content {
    background-color: white;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    height: 190px;
    width: 40%;
    min-width: 300px;
    p {
        font-size: 20px;
    }
    .modal-buttons {
        float: right;
        #blue {
            background-color: #009fdf;
        }
    }
}


/* The Close Button */

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}