<div class="modal-content">
    <span class="close">&times;</span>
    <h2 class="header">Class Canceled!</h2>
    <p>Your class was booking was succefully canceled.</p>
    <div class="modal-buttons">
        <a class="button class-ok" href=@Url.Action("MyBookings","MemberArea")>Okay</a>
    </div>
</div>
<script src="~/js/myBookings.js"></script>

