@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<span>Looks like youre already booked into this class,do you wanna cancel?</span>
<div class="confirm-action arrow">
    <input class="check" id="booked-2" type="checkbox">
    <label class="action" for="booked-2">Cancel booking</label>
    <span class="confirm" href="#!">Cancel booking</span>
    <a class="yes js-cancel" href="#!">YES</a>
    <label class="no" for="booked-2">NO</label>
</div>