<span>@ViewBag.Msg  </span>

@if (ViewBag.Type=="1")
{
    <div class="confirm-action arrow">
        <input class="check" id="booked-2" type="checkbox">
        <label class="action" for="booked-2">Cancel booking</label>
        <span class="confirm" href="#!">Cancel booking</span>
        <a class="yes js-cancel" href="@Url.Action("Cancel","MemberArea",new { ClassID=ViewBag.ClassID })">YES</a>
        <label class="no" for="booked-2">NO</label>
    </div>}

<script src="~/js/book-class.js"></script>