
@model Promocode

@if (Model == null)
{
    <div class="error">This promocode does not exist or has expired</div>
}
else
{
    <div class="accepted">@Model.discountPercent discount will be applied on checkout </div>
}

