.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif !important;
  line-height: 20px;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

nav {
  background-color: #212121;
  height: 50px;
}

nav .flex #logo img {
  height: 55px;
}

nav .flex #logo:hover {
  -webkit-transform: rotateZ(-10deg);
          transform: rotateZ(-10deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .flex a {
  padding: 13px 25px 5px 25px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  height: 50%;
  letter-spacing: 0.1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

nav .flex .lang_picker {
  margin-left: auto;
  padding-top: 6px;
}

nav .flex .lang_picker .flag {
  width: 25px;
  height: 25px;
  margin-top: 7px;
}

nav .flex .lang_picker h2 {
  font-weight: bold;
  margin: 8px 0px;
  padding: 0px 8px;
  text-decoration: none;
  color: white;
  line-height: 24px;
  font-size: 15px;
  letter-spacing: 0.1em;
}

nav .flex .lang_picker i {
  color: white;
  padding-top: 6px;
  margin-right: 10px;
}

nav .flex .lang_picker ul {
  display: none;
}

nav .flex #free-trial {
  background-color: #f99919;
  overflow: hidden;
  height: 100%;
  padding: 12px 30px 18px;
}

nav .flex #join {
  background-color: white;
  height: 100%;
  color: #f99919;
  padding: 12px 30px 18px;
}

footer {
  margin-top: 200px;
  width: 100%;
  padding: 55px 0 45px 0;
  background-color: black;
}

footer #grey {
  color: #686868;
  font-size: 13px;
}

footer .footer-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

footer .footer-wrapper .left .icons {
  word-spacing: 25px;
}

footer .footer-wrapper .left .icons i {
  color: white;
}

footer .footer-wrapper .left p {
  color: white;
}

footer .footer-wrapper .right {
  max-width: 430px;
  margin: 0 0 0 auto;
  padding: 0;
  text-align: right;
  width: 64%;
}

footer .footer-wrapper .right p {
  color: white;
}

.progress-indicator {
  position: relative;
}

.progress-indicator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.progress-indicator ul li .step {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #f06880;
  margin: 10px auto;
}

.progress-indicator ul li .step .no {
  font-size: 30px;
  padding-top: 4px;
  font-family: Cervo, Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #fff;
  width: 100%;
  display: block;
}

.progress-indicator ul li .step .label {
  font-weight: 700;
  color: #c8c8c8;
  margin-top: 1.1rem;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}

#login {
  background: #f3f3f4;
}

.container70 {
  width: 90%;
  margin: 0 auto;
}

.login-container {
  background: #f3f3f4;
  max-width: 50%;
  margin: 0 auto;
  padding: 100px 0px;
}

.join .header {
  border-radius: 6px 6px 0 0;
  background: #364e72;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

.join .header .header-text {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join .header .header-text .step {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: white;
}

.join .header .header-text .step .no {
  font-size: 30px;
  padding-top: 4px;
  font-family: Cervo, Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #364e72;
  width: 100%;
  display: block;
}

.join .header .header-text .header-p {
  margin: 10px;
}

.join .header .header-text .header-p p {
  color: white;
  font-size: 30px;
}

.join .foot {
  border-radius: 6px;
  background: white;
  font-size: 30px;
  padding: 75px 0px;
}

.join .foot .selector {
  width: 60%;
  margin: 0 auto;
}

.join .foot .selector p {
  color: #009fdf;
  margin: 16px 0;
  font-weight: bold;
  padding: 0px;
}

.join .foot .selector select {
  border-left: 5px solid #009fdf;
  width: 100%;
  height: 40px;
  color: #364e72;
  cursor: pointer;
  line-height: 1.15;
  font-size: 16px;
  font-weight: bold;
}

.join .foot .icons {
  margin-top: 20px;
}

.join .foot .icons .hidden-text {
  margin: 10px 0px;
}

.join .foot .icons .hidden-text i {
  color: #364e72;
  height: 28px;
  width: 28px;
}

.join .foot .icons .hidden-text p {
  display: inline;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.4;
  color: #666;
  font-size: 16px;
}

.membership {
  border-radius: 6px;
  padding-bottom: 10px;
  background: white;
}

.membership p {
  color: #0090d9;
  margin: 16px 0;
  font-weight: bold;
  padding: 20px 0px;
  font-size: 30px;
}

.membership .membership-type-selector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.membership .membership-type-selector .tab {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  text-align: center;
  margin: 20px 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-bottom: 5px;
  font-size: 35px;
  padding-bottom: 10px;
  border-bottom: 2px solid #f3f3f4;
  cursor: pointer;
  color: #364e72;
}

.membership .membership-type-selector .active {
  border-bottom: 6px solid #364e72;
}

.membership .montly-membership {
  color: white;
  margin-bottom: 20px;
}

.membership .montly-membership .flex {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.membership .montly-membership .flex .option {
  background: #f3f3f4;
  color: #858585;
}

.membership .montly-membership .flex .option input[type=radio] {
  opacity: 0;
  position: absolute;
}

.membership .montly-membership .flex .option label {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.membership .montly-membership .flex .option h1 {
  font-size: 90px;
  text-align: center;
  margin: 60px 0px 40px;
}

.membership .montly-membership .flex .option h3 {
  font-size: 24px;
  text-align: center;
}

.membership .montly-membership .flex .option .icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 60%;
  margin: 0 auto;
}

.membership .montly-membership .flex .option .icons i {
  font-size: 26px;
  margin: 15px;
}

.membership .montly-membership .flex .option p {
  color: #858585;
}

.membership .montly-membership .flex .option .select-icon {
  margin: 30px auto;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #d5d4d4;
}

.membership .montly-membership .flex .option .select-icon i {
  margin: 0 auto;
  font-size: 30px;
  position: relative;
  top: 20%;
  color: black;
  visibility: hidden;
}

.membership .montly-membership .flex .active-basic {
  z-index: 3;
  color: white !important;
  background: #0090d9;
}

.membership .montly-membership .flex .active-basic p {
  color: white !important;
}

.membership .montly-membership .flex .active-basic .select-icon {
  background: white !important;
}

.membership .montly-membership .flex .active-basic .select-icon i {
  visibility: unset;
}

.membership .montly-membership .flex .active-prem {
  z-index: 3;
  color: white !important;
  background: #7aa130 !important;
}

.membership .montly-membership .flex .active-prem p {
  color: white !important;
}

.membership .montly-membership .flex .active-prem .select-icon {
  background: white !important;
}

.membership .montly-membership .flex .active-prem .select-icon i {
  visibility: unset;
}

.membership .montly-membership .flex .basic {
  position: relative;
  width: 35%;
  border-radius: 14px;
}

.membership .montly-membership .flex .basic p {
  margin: 30px 0 4px 0px;
  font-size: 20px;
  padding: 0;
  text-align: center;
}

.membership .montly-membership .flex .basic p span {
  font-size: 50px;
  padding: 0;
  text-align: center;
}

.membership .montly-membership .flex .basic #permonth {
  margin: 0;
}

.membership .montly-membership .flex .premium {
  width: 65%;
  position: relative;
  left: -12px;
  border-radius: 14px;
}

.membership .montly-membership .flex .premium p {
  margin: 30px 0 4px 0px;
  font-size: 20px;
  color: #858585;
  padding: 0;
  text-align: center;
}

.membership .montly-membership .flex .premium p span {
  font-size: 50px;
  padding: 0;
  text-align: center;
}

.membership .montly-membership .flex .premium #permonth {
  margin: 0;
}

.membership .montly-membership .flex .premium .select-icon {
  background: #d5d4d4;
  left: 45%;
}

.membership .montly-membership .flex .premium .icons {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.membership .daily-membership .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px 0px;
  background-color: #f06880;
  color: white;
  border-radius: 6px;
}

.membership .daily-membership .wrapper .price {
  position: relative;
  top: 10px;
  position: relative;
  left: 20%;
  background: white;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  font-size: 24px;
  color: #31476b;
  text-align: center;
  margin: 0;
  line-height: .9;
}

.membership .daily-membership .wrapper .price p {
  color: #31476b;
  font-size: 20px;
}

.membership .daily-membership .wrapper .price p #price {
  color: #f06880;
}

.membership .daily-membership .wrapper .price p #price #bigprice {
  font-size: 40px;
}

.membership .daily-membership .wrapper .try-it {
  width: 50%;
  position: relative;
  left: 25%;
}

.membership .daily-membership .wrapper .try-it h1 {
  font-size: 38px;
}

.membership .daily-membership .wrapper .try-it select {
  border-left: 5px solid #0090d9;
  width: 100%;
  height: 40px;
  color: #364e72;
  cursor: pointer;
  line-height: 1.15;
  font-size: 16px;
  font-weight: bold;
}

.bonuses .wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 17px;
  background-color: #f3f3f4;
  cursor: pointer;
  border-radius: 6px;
  margin-top: 10px;
  position: relative;
}

.bonuses .wrapper .header i {
  background-color: #0090d9;
  border-radius: 50%;
  position: relative;
  left: 7px;
  font-size: 18px;
  color: white;
  padding: 7px;
}

.bonuses .wrapper .header ::after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 14px;
  width: 4px;
  height: 16px;
  background-color: #f3f3f4;
  border-radius: 1rem;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.bonuses .wrapper .header h2 {
  font-size: 22px;
  color: #364e72;
  padding-left: 50px;
  position: relative;
  top: 6px;
  margin: 0;
}

.bonuses .wrapper .bonuses-list-open {
  height: 545px !important;
}

.bonuses .wrapper .bonunes-list {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s;
  margin: 20px 0;
}

.bonuses .wrapper .bonunes-list h2 {
  margin-top: 0;
  border-radius: 12px 12px 0 0;
  color: #fff;
  padding: 15px;
  font-size: 26px;
}

.bonuses .wrapper .bonunes-list ul {
  list-style: none;
  padding: 0;
}

.bonuses .wrapper .bonunes-list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bonuses .wrapper .bonunes-list ul li i {
  font-size: 28px;
  margin: 0 17.5px;
}

.bonuses .wrapper .bonunes-list ul li p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: black;
  padding: 15px 15px 15px 0;
  position: relative;
  bottom: 10px;
}

.bonuses .wrapper .bonunes-list ul .disabled {
  color: #c8c8c8 !important;
}

.bonuses .wrapper .bonunes-list .basic-list {
  margin-bottom: 52px;
  background-color: #f3f3f4;
  border-radius: 12px;
  margin-right: 5px;
}

.bonuses .wrapper .bonunes-list .basic-list h2 {
  background-color: #0090d9;
}

.bonuses .wrapper .bonunes-list .basic-list i {
  color: #0090d9;
}

.bonuses .wrapper .bonunes-list .premium-list {
  margin-bottom: 52px;
  background-color: #f3f3f4;
  border-radius: 12px;
  margin-left: 5px;
}

.bonuses .wrapper .bonunes-list .premium-list h2 {
  background-color: #7aa130;
}

.bonuses .wrapper .bonunes-list .premium-list i {
  color: #7aa130;
}

#promocode {
  margin-top: 10px;
  background: white;
  border-radius: 6px;
  padding: 50px 100px;
}

#promocode .wrapper .block {
  position: relative;
}

#promocode .wrapper #bottom {
  margin: 30px 0;
}

#promocode .wrapper .tick {
  margin-top: 7px;
  border-radius: 50%;
  background-color: #f3f3f4;
  border-color: #d6d6d6;
  pointer-events: none;
  display: block;
  width: 22px;
  height: 22px;
  cursor: pointer;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: #f3f3f4;
  border: 1px solid #d6d6d6;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}

#promocode .wrapper input[type=radio]:checked + .tick {
  border: 1px solid #31476b;
  background-color: white;
}

#promocode .wrapper input[type=radio]:checked + .tick:after {
  content: "";
  border-radius: 50%;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 11px;
  left: 11px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #009fdf;
  border: none;
  z-index: 2;
}

#promocode .wrapper input[type=radio]:hover + .tick {
  border: 1px solid #0090d9;
}

#promocode .wrapper label {
  font-size: 30px;
  line-height: 1.2;
  color: #00adee;
  padding-left: 3px;
  font-weight: 400;
  letter-spacing: -1px;
  font-weight: bold;
}

#promocode .wrapper input[type=text] {
  padding: 10px;
  border: 1px solid #d6d6d6;
  border-left: 5px solid #009fdf;
  background-color: #fff;
  width: 315px;
  font-size: 20px;
  margin-right: 24px;
}

#promocode .wrapper button {
  color: #fff;
  background-color: #e94960;
  padding: 5px 32px 5px 32px;
  font-family: 'Roboto Condensed', sans-serif !important;
  border: none;
  font-size: 29px;
  border-radius: 6px;
  position: relative;
  top: 3px;
  text-align: center;
}

.next {
  padding: 30px;
  margin-top: 10px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
}

.next a {
  padding: 20px 30px;
  font-size: 25px;
  border-radius: 5px;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(214, 214, 214, 0.5);
  color: #7b7b7b;
  text-decoration: none;
}

.next .active {
  background-color: #f06880;
  color: white;
}

.next .active:hover {
  background-color: #e94960;
}

.login-container2 {
  background: #f3f3f4;
  max-width: 66%;
  margin: 0 auto;
  padding: 100px 0px;
}

.foot form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px 40px;
}

.foot form .form-row label {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: 12px 0px;
  font-size: 15px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0;
  line-height: 1.4;
  color: #666;
}

.foot form .form-row label span {
  color: red;
  padding: 0 3px;
}

.foot form .form-row input {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
  border: 1px solid #d6d6d6;
  border-left: 5px solid #0090d9;
  background-color: #fff;
  line-height: normal;
  font-size: 20px;
  outline: 0;
  color: #364e72;
  width: 100%;
  padding: 10px;
  height: 23px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.foot form .form-row #gender-label {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.foot form .form-row .checkboxes {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=main.css.map */