
@{
    ViewData["Title"] = "Training";
    if (ViewData["Layout"] != null)
        Layout = ViewData["Layout"].ToString();
}
<section id="top-pic-section">
    <div class="background-img">
        <div class="header">
            <h1>TRAINING</h1>
        </div>
    </div>
</section>
<section id="plain-text">
    <div class="text">
        <p>Our certified personal trainers create the perfect programs to help you reach your goals, designed 100% around you. And they’ll be cheering you on when you cross that finish line like a badass, too.</p>
    </div>
</section>
<hr class="border--taller theme-gradient">
<section id="training">
    <div class="flex ">
        <div class="left" id="order2">
            <div class="article">
                <h2>It’s One-on-Wonderful</h2>
                <p class="type--c3 type--gray-dark">Here at Crunch, we focus on bringing you the most powerful workouts to meet your needs: our toolbox includes weighted battle ropes, kettlebells, TRX® suspension straps, MMA equipment, Bulgarian Bags, and the list goes on.</p>
                <p class="type--c3 type--gray-dark">It may sound like a mouthful, but this world-class functional training equipment helps our trainers provide you with an array of High Intensity Interval Training (HIIT) workouts.</p>
                <p class="type--c3 type--gray-dark">Our Crunch Fitness locations offer <a class="purplePinkLink" href="https://info.crunch.com/hiitzone">HIITZone</a>, an all-encompassing fitness program including personal training, small group training, and nutrition.</p>
                <p class="type--c3 type--gray-dark">Let’s make a lunge date!</p>
                <ul class="list-block">
                    <li class="list-block__item">
                        <div class="list-block__item__link">
                            <a class="theme-link--primary-to-secondary type--inline js-smooth-scroll" href="#personal-training">
                                <span class="type--e5 theme-color-primary">
                                    Personal
                                    Training
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <div class="list-block__item__link">
                            <a class="theme-link--primary-to-secondary type--inline js-smooth-scroll" href="#small-group-training">
                                <span class="type--e5 theme-color-primary">
                                    Small Group
                                    Training
                                </span>
                            </a>
                        </div>
                    </li>
                    <li class="list-block__item">
                        <div class="list-block__item__link">
                            <a class="theme-link--primary-to-secondary type--inline js-smooth-scroll" href="#nutrition"><span class="type--e5 theme-color-primary">Nutrition</span></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="right" id="order1">
            <div class="img-container">
                <img src="~/image/training/training1.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section id="training" class="white">
    <div class="flex">
        <div class="left">
            <div class="article-group__detail type--center">
                <div class="icon-hrs">
                    <hr class="border--hairline border--type border--charcoal">
                    <span class="type--border-adorned icon icon-chisel-it theme-color-primary"><i class="fas fa-users"></i></span>
                    <hr class="border--hairline border--type border--charcoal">
                </div>
                <h3 class="article-group__detail__title type--a1">Personal Training</h3>
                <p class="type--c3 type--gray-dark">
                    You can think of personal training like our secret sauce – it’s the fastest and safest way to get seriously awesome results. Our experienced trainers develop fun (yes, fun!) individualized fitness programs that incorporate cutting-edge
                    exercises and nutrition to help you crush your fitness goals. Plus, Crunch Fitness personal trainers in the <a class="purplePinkLink" href="https://info.crunch.com/hiitzone">HIITZone</a> program use the Combative Training Center
                    to help you reach your fitness goals.
                </p>
                <p class="type--c3 type--gray-dark">
                    With specialized certifications that ensure you’re getting an effective workout, our trainers provide limitless motivation for everyone. You don’t need to be a professional athlete or aspiring fitness guru to be part of our programs.
                    And if you’re already a professional athlete, we still want to hang with you.
                </p>
                <div class="btn-wrapper">
                    <a class="btn--dark" href="https://info.crunch.com/contact?club=95&amp;subject=personal-training">
                        <span class="type--d4 type--white type--uppercase">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="img-container">

                <img src="~/image/training/personal-training.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section id="training" class="white">
    <div class="flex">
        <div class="left">
            <div class="article-group__detail type--center">
                <div class="icon-hrs">
                    <hr class="border--hairline border--type border--charcoal"><span class="type--border-adorned icon icon-small-group theme-color-primary"><i class="fas fa-dumbbell"></i></span>
                    <hr class="border--hairline border--type border--charcoal">
                </div>
                <h3 class="article-group__detail__title type--a1">Small Group Training</h3>
                <p class="type--c3 type--gray-dark">
                    Get sweaty with your best friend or make a new workout buddy on the turf in our group training sessions! With a team environment to motivate you through that last rep, your results are waiting just behind that punching bag. Our trainers
                    will keep you challenged and engaged with expert attention on your road to glory.
                </p>
                <p class="type--c3 type--gray-dark">Speak to your favorite personal trainer to learn more about small group training sessions at your club. There are tons of fun small group training programs to choose from under the <a class="purplePinkLink" href="https://info.crunch.com/hiitzone">HIITZone</a>                        umbrella.</p>
                <div class="btn-wrapper">
                    <a class="btn--dark" target="_blank" href="https://info.crunch.com/contact?club=95&amp;subject=small-group-training">
                        <span class="type--d4 type--white type--uppercase">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="img-container">
                <img src="~/image/training/small-group.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<section id="training" class="white training-video video-container-1">
    <div class="article-group__detail type--center">
        <h3 class="article-group__detail__title type--a1">Crunch Gets Personal</h3>
        <a class="video-anchor" target="_blank" href="https://www.youtube.com/user/crunchwatch">
            <span>View Trainer Tips</span>
        </a>
    </div>
    <div class="article-group__video">
        <div class="video-contain"><iframe allowfullscreen="allowfullscreen" frameborder="0" mozallowfullscreen="mozallowfullscreen" src="https://www.youtube.com/embed/KFSsMS2mZkM" webkitallowfullscreen="webkitallowfullscreen"></iframe></div>
        <p class="article-group__video__fine-print type--c4 type--gray-dark type--center">WARNING: Watching these tips might result in a better workout.</p>
    </div>
</section>

<section id="training" class="before-footer">
    <div class="flex">
        <div class="left">
            <div class="article-group__detail type--center">
                <div class="icon-hrs">
                    <hr class="border--hairline border--type border--charcoal">
                    <span class="type--border-adorned icon icon-small-group theme-color-primary">
                        <i class="fas fa-apple-alt"></i>
                    </span>
                    <hr class="border--hairline border--type border--charcoal">
                </div>
                <h3 class="article-group__detail__title type--a1">Nutrition</h3>
                <p class="type--c3 type--gray-dark">
                    Proper nutrition fuels your workouts and helps you get the most out of your time at the club. That’s why our trainers work with you to develop customized nutrition plans through dotFIT that focus on your specific needs, tastes, and
                    dietary restrictions.
                </p>
                <p class="type--c3 type--gray-dark">
                    Your plan comes with an amazing online platform to keep you feeling awesome about your weight loss, strength training or rehabilitation journey. With personalized coaching and a diverse community of supportive peers, our partnership
                    with dotFIT makes the hard work of working out just a little easier. <a class="purplePinkLink" href="https://info.crunch.com/hiitzone">HIITZone</a> and Crunch Signature Personal Trainers are dotFIT experts ready to help you get
                    healthy!
                </p>
                <div class="btn-wrapper">
                    <a class="btn--dark" target="_blank" href="https://info.crunch.com/contact?club=95&amp;subject=small-group-training">
                        <span class="type--d4 type--white type--uppercase">Learn More</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="img-container">
                <img src="~/image/training/nutrition.jpg" alt="">
            </div>
        </div>
    </div>
</section>

