.login-page {
    form {
        width: 90%;
        margin: 0 auto;
    }
    .form-row {
        display: block !important;
    }
}

#login-page-join-now {
    background-color: #f06880;
    color: white;
}

#login-page-button {
    margin-left: 40px;
}