#member-area {
    .container {
        display: flex;
        max-width: 1312px;
        margin: auto;
        position: relative;
        width: 100%;
        padding: 0 20px;
        .nav-pane {
            width: 25%;
            padding-top: 60px;
            max-width: 312px;
            .left-navigation {
                .title {
                    color: #333;
                    margin-bottom: 15px;
                    overflow: hidden;
                    display: block;
                    h2 {
                        width: 100%;
                        font-size: 30px;
                        margin: 0;
                        padding-left: 30px;
                        pointer-events: none;
                    }
                }
                .nav-menu {
                    list-style: none;
                    padding-left: 0px;
                    .expandable {
                        font-size: 16px;
                        font-weight: 700;
                        padding: 15px 15px 15px 30px;
                        position: relative;
                        a {
                            color: #31476b;
                            cursor: pointer;
                            text-decoration: none;
                        }
                        &::after {
                            content: '+';
                            position: absolute;
                            right: 20px;
                            top: 10px;
                            font-size: 25px;
                        }
                        .nav-sub-menue-open {
                            height: auto !important;
                            transition: ease-in 0.3s;
                        }
                        .nav-sub-menu {
                            transition: ease-out 0.3s;
                            height: 0;
                            overflow: hidden;
                            padding: 0 0 0 20px;
                            li {
                                a {
                                    padding: 15px 15px 15px 30px;
                                    color: #31476b;
                                    display: block;
                                    font-weight: 400;
                                    span {
                                        &:hover {
                                            border-bottom: 1px solid black;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .content {
            margin-left: 30px;
            width: 75%;
            padding-top: 60px;
            .header {
                display: flex;
                justify-content: space-between;
                padding: 0 60px 30 0px;
                margin-top: 0;
                padding-bottom: 20px;
                margin-bottom: 30px;
                color: #009fdf;
                border-bottom: 1px solid #d6d6d6;
                h2 {
                    font-size: 38px;
                    line-height: 1.2107
                }
            }
            .body {
                .text {
                    background-color: #f3f3f4;
                    padding: 10px 20px;
                    border-radius: 6px;
                    margin-bottom: 40px;
                    display: flex;
                    span {
                        color: #0090d9;
                    }
                    p {
                        font-size: 30px;
                        color: #364e72;
                        line-height: 1.2;
                        margin-bottom: 0px !important;
                    }
                    .status {
                        margin-right: 30px;
                    }
                    .pin {
                        padding-left: 30px;
                        border-left: 1px solid black;
                    }
                }
                .goals {
                    text-align: center;
                    .goal-wrapper {
                        .goal {
                            background-color: #f9f9f9;
                            border-radius: 10px;
                            padding: 0px 37px;
                            margin-bottom: 20px;
                            height: 160px;
                            display: inline-block;
                            h3 {
                                font-size: 22px;
                                line-height: 1.2;
                                color: #364e72;
                                span {
                                    color: $green;
                                    font-size: 30px;
                                }
                            }
                            a {
                                outline: 0;
                                color: $blue;
                                font-size: 22px;
                                padding-right: 10px;
                                &:hover {
                                    color: #007cb1;
                                    text-decoration: underline;
                                }
                                i {
                                    font-size: 15px;
                                    padding-left: 5px;
                                }
                            }
                        }
                    }
                }
                .gym-visits {
                    border-radius: 10px;
                    padding: 20px;
                    margin-bottom: 20px;
                    background: url(./../image/member-area.svg);
                    color: white;
                    text-align: center;
                    .goal-body-wrapper {
                        h2 {}
                        .headline-support {
                            margin-bottom: 20px;
                            line-height: 1.5;
                        }
                        .goal-heading {
                            font-size: 22px;
                            font-weight: 700;
                            margin-bottom: -10px;
                        }
                        .goal-title {
                            font-size: 30px;
                            font-weight: 700;
                        }
                        .goal-amend {
                            font-size: 16px;
                            font-weight: 700;
                            a {
                                color: #fff;
                                font-size: 16px;
                                i {
                                    padding-left: 4px;
                                    font-size: 14px;
                                }
                            }
                        }
                        .goal-circles {
                            display: flex;
                            justify-content: space-evenly;
                            .goal-circle-wrapper {
                                .goal-circle {
                                    height: 118px;
                                    width: 118px;
                                    margin: 0 auto;
                                    background-color: #364e72;
                                    position: relative;
                                    border-radius: 50%;
                                    .goal-circle-inner {
                                        position: absolute;
                                        top: 40%;
                                        left: 35%;
                                        span {
                                            font-size: 72px;
                                        }
                                        .unit {
                                            font-size: 40px;
                                        }
                                    }
                                    #time-inner {
                                        left: 22%;
                                        width: 100%;
                                    }
                                }
                                .circle-caption {
                                    line-height: 20px;
                                    font-size: 14px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                .workouts {
                    padding: 10px 50px 20px;
                    border-top: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    max-width: 603px;
                    margin: 50px auto;
                    .workout-titles {
                        text-align: center;
                        margin-bottom: 15px;
                        font-size: 30px;
                    }
                    .calender-scroll-container {
                        margin-top: 30px;
                        ul {
                            justify-content: space-evenly;
                            display: flex;
                            li {
                                .dot {
                                    width: 10px;
                                    height: 10px;
                                    border-radius: 50%;
                                    background-color: #fff;
                                    margin-left: auto;
                                    margin-right: auto;
                                    margin-bottom: 15px;
                                }
                                .workout-days {
                                    font-size: 26px;
                                }
                            }
                        }
                    }
                }
                .footer {
                    display: flex;
                    justify-content: center;
                    i {
                        border-radius: 50%;
                        background-color: white;
                        color: $blue;
                        width: 18px;
                        height: 18px;
                        padding: 7px;
                        position: relative;
                        top: 18px;
                        font-size: 18px;
                    }
                    h3 {
                        cursor: pointer;
                        font-size: 26px;
                        margin-left: 15px;
                    }
                }
            }
        }
    }
}

.container80 {
    width: 80%;
}

//responsive
@media screen and (max-width: 840px) {
    #member-area {
        .container {
            flex-wrap: wrap;
            .nav-pane {
                width: 100%;
                margin: 0 auto;
            }
            .content {
                width: 100%;
            }
        }
    }
}

//responsive
@media screen and (max-width: 840px) {
    #member-area {}
}

//responsive
@media screen and (max-width: 840px) {
    #member-area {}
}