nav {
    background-color: $navbar-color;
    height: 50px;
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0;

    .flex {
        #logo {
            img {
                height: 55px;
            }

            &:hover {
                transform: rotateZ(-10deg);
                transition: all 0.3s;
            }
        }

        a {
            padding: 13px 25px 5px 25px;
            text-decoration: none;
            color: white;
            font-size: 15px;
            height: 50%;
            letter-spacing: 0.1em;
            transition: all 0.3s;
        }

        .lang_picker {
            margin-left: auto;
            padding-top: 6px;

            .flag {
                width: 25px;
                height: 25px;
                margin-top: 7px;
            }

            h2 {
                font-weight: bold;
                margin: 8px 0px;
                padding: 0px 8px;
                text-decoration: none;
                color: white;
                line-height: 24px;
                font-size: 15px;
                letter-spacing: 0.1em;
            }

            i {
                color: white;
                padding-top: 6px;
                margin-right: 10px;
            }

            ul {
                display: none;
            }
        }

        #free-trial {
            background-color: #009fdf;
            overflow: hidden;
            height: 100%;
            padding: 12px 30px 18px;

            &::after {
                bottom: 15px;
                bottom: 13px;
            }
        }

        #join {
            background-color: white;
            height: 100%;
            color: $navbar-orange;
            padding: 12px 30px 18px;

            &:hover {
                color: #de1245;
            }
        }
    }
}

.fa-bars {
    opacity: 0;
    color: white;
    cursor: pointer;
    font-size: 26px;
    position: relative;
    top: 12px;
}

.nav-anchor {
    position: relative;

    &::after {
        position: absolute;
        content: "";
        background: white;
        height: 2px;
        width: 30px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%) scaleX(0);
        transition: all 0.3s;
    }

    &:hover {
        &::after {
            transform: translateX(-50%) scaleX(1);
        }
    }
}

//?Maybe if you want it to change on scroll
// .scrolled {
//     width: 100%;
//     z-index: 1;
//     position: fixed;
// }
//Responsiveness
@media screen and (max-width: 1140px) {
    nav {
        .nav-anchor {
            display: none;
        }

        #free-trial {
            display: block;
        }

        .fa-bars {
            opacity: 100%;
        }
    }
}

@media screen and (max-width:650px) {
    nav {
        #free-trial {
            display: none;
        }

        #join {
            display: none;
        }
    }
}
