
@{
    ViewData["Title"] = "FAQ";
    if (ViewData["Layout"] != null)
        Layout = ViewData["Layout"].ToString();
}

<section id="faq">
    <div class="container">
        <div class="faq-nav">
            <ul>
                <li><a href="#membership">MEMBERSHIP</a></li>
                <li><a href="#memberaccount">MEMBER ACCOUNT</a></li>
                <li><a href="#personaltraining">PERSONAL TRAINING</a></li>
                <li><a href="#groupfitness">GROUP FITNESS</a></li>
                <li><a href="#aroundthegym">AROUND THE GYM</a></li>
            </ul>
            <div class="dots-bottom"></div>
        </div>
        <div id="membership" class="sub-faq">
            <header>
                <h2>Membership</h2>
                <div class="dots-bottom"></div>
            </header>
            <div class="faq-question">
                <h3>How can I request a free trial to Crunch?</h3>
                <p><a class="click-here">Click here</a> to sign up for a complimentary guest pass on us!</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>How do I join Crunch?</h3>
                <p><a class="click-here">Click here</a> to purchase a membership. We’re excited to have you!</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>I got charged for an Annual Fee. What is this charge for?</h3>
                <p>The Annual Fee is an investment which provides for equipment upkeep, facility maintenance and periodic upgrades at our locations.</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>I want to cancel my membership.</h3>
                <p>Please contact your home gym directly for more information or contact us online.</p>
                <div class="dots-bottom"></div>
            </div>
        </div>
        <div id="memberaccount" class="sub-faq">
            <header>
                <h2>Member Account</h2>
                <div class="dots-bottom"></div>
            </header>
            <div class="faq-question">
                <h3>How do I join Crunch?</h3>
                <p>You can create a member account by visiting members.crunch.com and clicking on “Create An Account.” Or, download the Crunch App on your iPhone or Android device and create an account there.</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>I’m having trouble setting up an account.</h3>
                <p>Please contact your home gym and they will help guide you through the process.</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>I forgot my password.</h3>
                <p>Please use the Reset Password link at members.crunch.com or in the app.</p>
                <div class="dots-bottom"></div>
            </div>
        </div>
        <div id="personaltraining" class="sub-faq">
            <header>
                <h2>Personal Training</h2>
                <div class="dots-bottom"></div>
            </header>
            <div class="faq-question">
                <h3>What is personal training? Is it right for me?</h3>
                <p>Personal training is designed to help you crush your fitness goals, regardless of if you’re a novice or a seasoned athlete. We strongly believe that personal training is the fastest and safest way to get great results for all our members. Our individualized fitness programs and nutrition tips put together by our certified instructors will help you achieve the results you’re looking for.</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>What is Small Group Training?</h3>
                <p>Want the expertise of our personal trainers, but not ready to go at it alone? Small group training is for you! The team environment helps keep you motivated and our certified trainers will keep you challenged and engaged.</p>
                <div class="dots-bottom"></div>
            </div>

        </div>
        <div id="groupfitness" class="sub-faq">
            <header>
                <h2>Group Fitness</h2>
                <div class="dots-bottom"></div>
            </header>
            <div class="faq-question">
                <h3>I've never taken a class before, what should I expect? Is it going to be too hard/can I keep up?</h3>
                <p>Our classes are challenging but inclusive of all fitness levels! We aim to make working out FUN for everyone.</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>What are the certifications required to be a group fitness instructor?</h3>
                <p>
                    Candidates should have relevant fitness or education certification, background or degree with a minimum of 2 years teaching experience. AFFA and/or ACE Certifications strongly recommended. CPR is also required.
                </p>
                <div class="dots-bottom"></div>
            </div>
        </div>
        <div id="aroundthegym" class="sub-faq">
            <header>
                <h2>Around The Gym</h2>
                <div class="dots-bottom"></div>
            </header>
            <div class="faq-question">
                <h3>What should I bring to the locker room?</h3>
                <p>Gym clothes, proper sneakers, a lock, workout towel and a great attitude! Plus, if you want to wash up after your workout, bring your toiletries, a bath towel and shower sandals (optional). And if you use a locker room at one of our Signature locations, we’ll provide the fluffy towels, Rituals Products and hair dryers (so you can leave those at home).</p>
                <div class="dots-bottom"></div>
            </div>
            <div class="faq-question">
                <h3>What is proper gym etiquette when using equipment?</h3>
                <p>Make sure to wipe down equipment after use. During peak times, please spend no more than 30 minutes on the cardio machines. Sharing is caring!</p>
                <div class="dots-bottom"></div>
            </div>
        </div>
    </div>
</section>


<section id="support">

    <div class="chat-support">
        <i class="fas fa-comments"></i>
    </div>

    <div class="chat hidden">

        <div class="top">
            <i class="fas fa-times-circle exit-icon"></i>
            <h2> Customer Support </h2>
        </div>
        <div class="body">
        </div>
        <div class="bottom">
            <textarea type="text" id="chat-input" placeholder="Enter message"></textarea>
            <i class="fas fa-arrow-up js-send"></i>
        </div>
    </div>
</section>

<script src="~/js/scrollWheel.js"></script>
<script src="~/lib/signalR/signalr.js"></script>
<script src="~/lib/signalR/chat.js"></script>

