
@{
    ViewData["Title"] = "Login";
}
@using Crunch.ViewModels;
@model LogingInViewModel
<section id="login">
    <div class="login-container2 ">
        <div class="join login-page">
            <div class="header">
                <div class="header-text">

                    <div class="header-p">
                        <p>Login</p>
                    </div>
                </div>
            </div>
            <div class="foot">
                <form method="post" asp-controller="Account" asp-action="Login">
                    <div class="form-row">
                        <label asp-for="Email">Email adress<span>*</span></label>
                        <input type="email" asp-for="Email">
                    </div>
                    <div class="form-row">
                        <label asp-for="Pin">Pin<span>*</span></label>
                        <input type="text" asp-for="Pin">
                        @Html.ValidationMessage("Pin")
                    </div>
                    <div class="form-row remember-me">
                        <input type="checkbox"asp-for="RememberMe" name="" id="rememberMe">
                        <label asp-for="RememberMe">Remember Me</label>
                        <i class="fas fa-check hidden"></i>
                    </div>
                    <button id="login-page-button" class="button" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="next">
            <a id="login-page-join-now" href="@Url.ActionLink("Register","Account")">Join Now</a>
        </div>
        </div>

</section>

<script  src="~/js/login.js" ></script>


