
@{
    ViewData["Title"] = "Register2";
}
@using Crunch.ViewModels;
@model RegisterViewModel

<section id="login">
    <form class="login-container" id="register" asp-controller="Account" asp-action="Register2" method="post" >
        <section class="progress-indicator">
            <ul>
                <li class="current">
                    <div class="step">

                        <span class="no">1</span>

                    </div>
                    <span class="label">Gym membership</span>
                </li>
                <li class="">
                    <div class="step">

                        <span class="no">2</span>

                    </div>
                    <span class="label">Personal details</span>
                </li>
                <li class="">
                    <div class="step">

                        <span class="no">3</span>

                    </div>
                    <span class="label">Bank payment</span>
                </li>
                <li class="">
                    <div class="step">
                        <span class="no">4</span>
                    </div>
                    <span class="label">Membership created</span>
                </li>
            </ul>
        </section>
        <div class="join">
            <div class="header">
                <div class="header-text">
                    <div class="step">
                        <span class="no">1</span>
                    </div>
                    <div class="header-p">
                        <p>Gym membership details</p>
                    </div>
                </div>
            </div>
            <div class="foot">
                <div class="selector">
                    <p>Choose your home gym</p>
                    <input type="text" value="@Model.User.UserID"asp-for="User.UserID" style="display:none" />

                    <select asp-for="User.gymLocation" id="location-selector">
                        <option value="none">Select Location</option>
                        <option value="28 May">28 May</option>
                        <option value="Nerimanov">Nerimanov</option>
                        <option value="Ganjlik">Ganjlik</option>
                    </select>
                    <div class="icons hidden">
                        <div class="hidden-text">
                            <i class="fas fa-exclamation-circle"></i>
                            <p>The Gym Ashford is open for immediate membership</p>
                        </div>
                        <div class="hidden-text">
                            <i class="fas fa-clock"></i>
                            <p>Open 24 hours a day, 7 days a week</p>
                        </div>
                        <div class="hidden-text">
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Adress smth</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="membership hidden">
            <div class="container70">
                <p>Choose your membership</p>
                <div class="membership-type-selector">
                    <div class="tab active" id="month-toggle">Monthly</div>
                    <div class="tab" id="day-toggle">Day Pass</div>
                </div>
                <section class="montly-membership">
                    <div class="flex">
                        <div class="basic option">
                            <h1>DO IT.</h1>
                            <h3>Brilliant basics</h3>
                            <div class="flex icons">
                                <i id="span-icon">24h</i>
                                <i class="fas fa-dumbbell"></i>
                                <i class="fas fa-wifi"></i>
                                <i class="fas fa-car"></i>
                            </div>
                            <p><span>$20.</span>99</p>
                            <p id="permonth">PER MONTH</p>
                            <div class="select-icon">
                                <label  style="display:none" asp-for="User.premiumMemberShip"></label>
                                <input type="radio" asp-for="User.premiumMemberShip" value="false" id="basicInput">
                                <i class="fas fa-check"></i>
                            </div>
                        </div>
                        <div class="premium option active-prem ">
                            <h1>LIVE IT.</h1>
                            <h3>Added extras to keep you in track</h3>
                            <div class="flex icons">
                                <i id="span-icon">24h</i>
                                <i class="fas fa-dumbbell"></i>
                                <i class="fas fa-wifi"></i>
                                <i class="fas fa-car"></i>
                                <i class="fas fa-gift"></i>
                                <i class="fas fa-basketball-ball"></i>
                                <i class="fas fa-heartbeat"></i>
                                <i class="fas fa-swimmer"></i>
                            </div>
                            <p><span>$25.</span>99</p>
                            <p id="permonth">
                                PER MONTH
                            </p>
                            <div class="select-icon">
                                <label asp-for="User.premiumMemberShip" style="display:none"></label>
                                <i class="fas fa-check"></i>
                                <input type="radio" asp-for="User.premiumMemberShip" value="true"  checked id="premInput">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="daily-membership hidden">
                    <div class="wrapper">
                        <div class="price">
                            <p>
                                ONLY <span id="price"> <span id="bigprice">$8</span>.99</span>
                            </p>
                        </div>
                        <div class="try-it">
                            <h1>TRY IT.</h1>
                            <select name="" id="">
                                <option value="">Sunday 21 February</option>
                            </select>
                        </div>
                    </div>
                </section>
                <div class="bonuses">
                    <div class="wrapper">
                        <div class="header">
                            <i class="fas fa-minus"></i>
                            <h2>What's included?</h2>
                        </div>
                        <div id="bonuslist" class="bonunes-list ">
                            <div class="basic-list">
                                <h2>DO IT.</h2>
                                <ul>
                                    <li>
                                        <i>24h</i>
                                        <p>Unlimited 24/7 access & training</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-dumbbell"></i>
                                        <p>Gym Equipment</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-wifi"></i>
                                        <p>Free Wifi</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-car"></i>
                                        <p>Free parking</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-gift  disabled"></i>
                                        <p class="disabled">Discounts and perks</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-basketball-ball  disabled"></i>
                                        <p class="disabled">Basketball Court</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-heartbeat  disabled"></i>
                                        <p class="disabled">Unlimited Fitness & Body Composition measurements</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-swimmer disabled"></i>
                                        <p class="disabled">Swiming Pool</p>
                                    </li>

                                </ul>
                            </div>
                            <div class="premium-list">
                                <h2>LIVE IT.</h2>
                                <ul>
                                    <li>
                                        <i>24h</i>
                                        <p>Unlimited 24/7 access & training</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-dumbbell"></i>
                                        <p>Gym Equipment</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-wifi"></i>
                                        <p>Free Wifi</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-car"></i>
                                        <p>Free parking</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-gift"></i>
                                        <p>Discounts and perks</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-basketball-ball"></i>
                                        <p>Basketball Court</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-heartbeat"></i>
                                        <p>Unlimited Fitness & Body Composition measurements</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-swimmer"></i>
                                        <p>Swiming Pool</p>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <section id="promocode" class="hidden">
            <div class="wrapper ">
                <div class="block">
                    <input type="radio" id="promo" name="promoBool" value="true">
                    <span class="tick"></span>
                    <label for="promo">Do you have a promotional code?</label>
                </div>
                <div class="block hidden" id="bottom">
                    <input type="text" placeholder="Enter your code" name="promo">
                    <button>Apply</button>
                </div>
            </div>
        </section>

        <div class="next">
            <button type="submit">NEXT</button>
        </div>
    </form>
</section>

