
@{
    ViewData["Title"] = "Register";
}


@using Crunch.ViewModels;
@model RegisterViewModel


<section id="login">
    <div class="login-container2 ">
        <section class="progress-indicator">
            <ul>
                <li class="current">
                    <div class="step">

                        <span class="no">1</span>

                    </div>
                    <span class="label">Gym membership</span>
                </li>
                <li class="">
                    <div class="step">

                        <span class="no">2</span>

                    </div>
                    <span class="label">Personal details</span>
                </li>
                <li class="">
                    <div class="step">

                        <span class="no">3</span>

                    </div>
                    <span class="label">Bank payment</span>
                </li>
                <li class="">
                    <div class="step">
                        <span class="no">4</span>
                    </div>
                    <span class="label">Membership created</span>
                </li>
            </ul>
        </section>

        <div class="join">
            <div class="header">
                <div class="header-text">
                    <div class="step">
                        <span class="no">2</span>
                    </div>
                    <div class="header-p">
                        <p>Personal Data</p>
                    </div>
                </div>
            </div>
            <div class="foot">
                <form id="login2" method="post" asp-controller="Account" asp-action="Register">

                    <div class="form-row">
                        <label asp-for="User.firstName">First Name <span>*</span></label>
                        <input type="text" asp-for="User.firstName" id="">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.lastName">Last Name<span>*</span></label>
                        <input type="text" asp-for="User.lastName" id="">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.Email">Email<span>*</span></label>
                        <input type="email" asp-for="User.Email" id="">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.number">Mobile Number<span>*</span></label>
                        <input type="text" asp-for="User.number" id="">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.Gender">Gender<span>*</span></label>
                        <div class="radios">
                            <div class="block">
                                <label asp-for="User.Gender" id="gender-label">Male</label>
                                <input type="radio" asp-for="User.Gender" value="Male" id="male">
                                <span class="tick"></span>
                            </div>
                            <div class="block">
                                <label asp-for="User.Gender" id="gender-label">Female</label>
                                <input type="radio" asp-for="User.Gender" value="Female" id="female">
                                <span class="tick"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <label asp-for="User.dateOfBirth">Birth Date<span>*</span></label>
                        <input type="date" asp-for="User.dateOfBirth">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.Town">Town/City<span>*</span></label>
                        <input type="text" asp-for="User.Town" id="">
                    </div>
                    <div class="form-row">
                        <label asp-for="User.Postcode">Postcode<span>*</span></label>
                        <input type="text" asp-for="User.Postcode" id="">
                    </div>
                    <div class="form-row">
                        <label>There are times that our gyms may be remotely supervised with no staff present. To ensure your safety and well-being, please answer the following question:</label>

                    </div>
                    <div class="form-row disability">
                        <label id="left">Do you have a disability that we may need to make reasonable adjustments for or any health conditions that could affect you while you’re in the gym?<span>*</span></label>
                        <div id="padding" class="radios">
                            <div class="block">
                                <label asp-for="User.disability" id="gender-label">Yes</label>
                                <input type="radio" asp-for="User.disability" value="true" id="dis=yes">
                                <span class="tick"></span>
                            </div>
                            <div class="block">
                                <label asp-for="User.disability" id="gender-label">No</label>
                                <input type="radio" asp-for="User.disability" value="false" id="dis-no">
                                <span class="tick"></span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
        <div class="next">
            <button type="submit" form="login2">NEXT</button>
        </div>
        </div>
</section>