
@{
    ViewData["Title"] = "Login";
}
@model Crunch.Areas.Admin.Models.AdminM 
<div class="container login">

    <form class="small-container" method="post" asp-action="Login">
        <h3>Login for Admins</h3>
        <div class="form-group">
            <label asp-for="Username">Email address</label>
            <input type="text" class="form-control" asp-for="Username" aria-describedby="emailHelp" placeholder="Username">
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input type="password" class="form-control" asp-for="Password" placeholder="Password">
            @Html.ValidationMessage("Pass")
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>

