
@{
    ViewData["Title"] = "Payments";
}

<div class="content ">
    <div class="container80">
        <h2 class="heading">My Bookings</h2>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Payment type</th>
                        <th>Payment description</th>
                        <th>Payment amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>23 Feb 20</td>
                        <td>Card Payment</td>
                        <td>Monthly Membership Fee</td>
                        <td>£15.99</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

