.login-container2 {
    background: #f3f3f4;
    max-width: 66%;
    margin: 0 auto;
    padding: 100px 0px;
}

.foot {
    form {
        .form-row {
            position: relative;
            display: flex;
            justify-content: space-between;
            margin: 30px 40px;
            label {
                flex: 4;
                padding: 12px 0px;
                font-size: 15px;
                font-weight: 400;
                text-align: left;
                letter-spacing: 0;
                line-height: 1.4;
                color: #666;
                span {
                    color: red;
                    padding: 0 3px;
                }
            }
            input {
                flex: 6;
                transition: all .15s ease-in-out;
                border: 1px solid #d6d6d6;
                border-left: 5px solid $blue;
                background-color: #fff;
                line-height: normal;
                font-size: 20px;
                outline: 0;
                color: #364e72;
                width: 100%;
                padding: 10px;
                height: 23px;
                box-shadow: none;
            }
            #gender-label {
                flex: 0;
            }
            .radios {
                flex: 6;
                display: flex;
                justify-content: space-evenly;
                .block {
                    width: 50%;
                    position: relative;
                    input {
                        opacity: 0;
                        position: absolute;
                        right: 42%;
                    }
                    label {
                        padding-left: 30px;
                        position: relative;
                        top: 7px;
                    }
                    .tick {}
                }
            }
        }
        .disability {
            display: flex;
            justify-content: space-evenly;
            #left {
                flex: 10;
            }
        }
    }
}

#padding {
    padding: 0 15px;
}

//here
//Responsiveness
@media screen and (max-width: 850px) {
    .join {
        .form-row {
            flex-wrap: wrap;
            #left {
                min-width: 100%;
            }
            input {
                min-width: 200px;
            }
            #rememberMe {
                min-width: 0px;
            }
            label {
                min-width: 100px
            }
            .radios {
                label {
                    min-width: 0px;
                }
                .block {
                    input {
                        min-width: 0;
                    }
                }
            }
        }
    }
    .progress-indicator {
        ul {
            flex-wrap: wrap;
            li {
                min-width: 100px;
            }
        }
    }
    .login-container2 {
        max-width: 90% !important;
    }
}

@media screen and (max-width: 540px) {
    .join {}
    .progress-indicator {
        ul {
            flex-wrap: wrap;
            flex-direction: column;
            padding-left: 0;
            li {
                min-width: 100px;
                text-align: center;
            }
        }
    }
}