@model Crunch.Models.Gym

@{
    ViewData["Title"] = "EditGym";
}


<div class="row">
    <div class="container mt-2">
        <h1>EditGym</h1>

        <hr />
        <form method="post" asp-action="EditGym">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="gymID" />
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="gymAdress" class="control-label">Gym Adress</label>
                    <input asp-for="gymAdress" class="form-control" />
                    <span asp-validation-for="gymAdress" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="gymLocation" class="control-label">Gym Name</label>
                    <input asp-for="gymLocation" class="form-control" />
                    <span asp-validation-for="gymLocation" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-6">
                    <label asp-for="gymNumber" class="control-label">Gym Number</label>
                    <input asp-for="gymNumber" class="form-control" />
                    <span asp-validation-for="gymNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label asp-for="price" class="control-label">Gym Price</label>
                    <input asp-for="price" class="form-control" />
                    <span asp-validation-for="price" class="text-danger"></span>
                </div>
                <div class="form-group  col-md-3">
                    <label asp-for="image" class="custom-file-label">Choose file</label>
                    <input type="file" asp-for="image" class="custom-file-label" />
                    <span asp-validation-for="image" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Gym Information</button>
            </div>
        </form>
        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
</div>



