
@{
    ViewData["Title"] = "Contact";
     Layout = "~/Views/Shared/Layout2.cshtml";
}

@model Email
    <div class="content ">
        <div class="container80">

            <div class="body">
                <h2 class="header">Contact us</h2>
                <p>Do you have a question that is not answered on our website? Or would you like to make a general enquiry? Whatever it may be, please call us on 0300 303 4800 so that we can help assist you.</p>
                <div class=" foot">
                    <form class="contact-form" method="post" asp-action="SendEmail" asp-controller="MyGym">
                        <div class="form-row">
                            <label asp-for="Nature">Nature of contact<span>*</span></label>
                            <select class="js-department open" id="Nature" asp-for="Nature">
                                <option value="">Please select</option>
                                <option value="General">General enquiry</option>
                                <option value="Feedback">Feedback </option>
                                <option value="Fitness">Fitness</option>
                            </select>
                        </div>
                        <div class="form-row">
                            <label asp-for="Gym"> Gym this enquiry relates to<span>*</span></label>
                            <select class="js-department open" asp-for="Gym">
                                <option value="">Please select</option>
                                <option value="General">Baku</option>
                                <option value="Feedback">Feedback </option>
                                <option value="Fitness">Fitness</option>
                            </select>
                        </div>

                        <div class="form-row">
                            <label asp-for="Subject">Subject<span>*</span></label>
                            <input asp-for="Subject">
                        </div>
                        <div class="form-row">
                            <label asp-for="Body">Details<span>*</span></label>
                            <textarea asp-for="Body" id="" cols="30" rows="10"></textarea>
                        </div>

                        <div class="form-row">
                            <label for="">Security<span>*</span></label>
                            <div class="g-recaptcha" data-sitekey="6LeOf-EUAAAAANYIRJKug1xSgtS4eMsnfswEz-6w"></div>
                        </div>

                        <button id="" type="submit" class="button">Send Enquiry</button>

                    </form>
                </div>

            </div>
        </div>
    </div>

