
@{
    ViewData["Title"] = "Member-Area";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model User

<div class="content ">
    <div class="container80">
        <div class="header">
            <h2>Welcome @Model.firstName @Model.lastName</h2>
        </div>
        <div class="body">
            <div class="pin">
                <div class="text">
                    <p class="status"><span>DO IT.</span></p>
                    <p class="pin">Your PIN is <span>@Model.pin</span> active from @Model.membershipActiveTill.AddMonths(-1).ToString("d MMM y")</p>
                </div>
            </div>
            <div class="goals">
                <div class="goal-wrapper">
                    <h2 class="title">Let’s find your fit</h2>
                    <div class="goal">
                        <h3> Overall goal: <span>To build muscle</span></h3>
                        <a href="/member-area/survey/#questions=5 " class="chevron ">
                            Edit goal
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="gym-visits">
                <div class="goal-body-wrapper">
                    <h2 class="headline">Bring it on</h2>
                    <p class="headline-support">Time to hit the gym.</p>
                    <p class="goal-heading">Your goal is to:</p>
                    <p class="goal-title">Attend the gym 4+ times per week</p>
                    <p class="goal-amend"><a href="/member-area/survey/#questions=6">Edit goal<i class="fas fa-chevron-right"></i></a></p>
                    <div class="goal-circles">
                        <div class="goal-circle-wrapper">
                            <figure class="goal-circle" data-max-goal-value="4" data-current-goal-value="0">
                                <div class="goal-circle-inner">
                                    <span class="count">0</span>
                                </div>
                                <svg width="120" height="120" viewBox="0 0 120 120" style="transform: rotate(-90deg);">
                                    <circle class="value" cx="61" cy="59" r="56" fill="none" stroke="#ffffff" stroke-width="6" stroke-dashoffset="351.85837720205683" stroke-dasharray="351.8583772020568427078160589273"></circle>
                                </svg>
                            </figure>
                            <figcaption class="circle-caption">Attend the gym {0} times per week</figcaption>
                        </div>
                        <div class="goal-circle-wrapper">
                            <figure class="goal-circle time">
                                <div class="goal-circle-inner" id="time-inner">
                                    <span class="count number-value">0</span>
                                    <span class="unit">mins</span>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117.9 117.9" class="time-background">
                                    <path fill="#009FDF" d="M59 20.4c-.8 0-1.4-.6-1.4-1.4v-8.4c0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4V19c-.1.7-.7 1.4-1.4 1.4zM59 108.7c-.8 0-1.4-.6-1.4-1.4v-8.4c0-.8.6-1.4 1.4-1.4.8 0 1.4.6 1.4 1.4v8.4c-.1.8-.7 1.4-1.4 1.4zM20.4 59c0 .8-.6 1.4-1.4 1.4h-8.4c-.8 0-1.4-.6-1.4-1.4 0-.8.6-1.4 1.4-1.4H19c.7 0 1.4.6 1.4 1.4z"></path>
                                    <ellipse cx="37.6" cy="21.3" fill="#009FDF" rx="2.4" ry="2.4" transform="rotate(-30 37.6 21.25)"></ellipse>
                                    <ellipse cx="21.7" cy="80.7" fill="#009FDF" rx="2.4" ry="2.4" transform="rotate(-30 21.65 80.73)"></ellipse>
                                    <ellipse cx="21.7" cy="37.2" fill="#009FDF" rx="2.4" ry="2.4" transform="rotate(-60 21.65 37.19)"></ellipse>
                                    <ellipse cx="37.6" cy="96.7" fill="#009FDF" rx="2.4" ry="2.4" transform="rotate(-60 37.6 96.67)"></ellipse>
                                </svg>
                            </figure>
                            <figcaption class="circle-caption">Avg time spent in the gym</figcaption>
                        </div>
                    </div>
                </div>
                <div class="workouts">
                    <h3 class="workout-titles">Your workouts</h3>
                    <div class="calender-scroll-container">
                        <ul class="workout-calender">
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Mon</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Tue</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Wed</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Thu</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Fri</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Sat</span>
                            </li>
                            <li>
                                <div class="dot"></div>
                                <span class="workout-days">Sun</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <i class="fas fa-plus"></i>
                    <h3>See your workout breakdown</h3>
                </div>
            </div>

        </div>
    </div>
</div>