
@{
    ViewData["Title"] = "My Gym Usage";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@model User
<div class="content ">
    <div class="container80">
        <div class="header">
            <h2>My Gym Usage</h2>
        </div>
        <div class="body">
            <canvas id="myChart" width="400" height="400"></canvas>
            <script>
                    Chart.defaults.global.legend.display = false;
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Jan', 'Feb', 'March', 'April', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
                                    datasets: [{
                                        label: '# of gym visits',
                                        data: [12, 19, 3, 5, 2, 3, 3, 12, 4, 5, 2, 3],
                                      backgroundColor: [
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf',
                                            '#009fdf'
                                        ],
                                        borderColor: [
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)',
                                            'rgba(0,0,0,0.5)'

                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    }
                                }
                            });
            </script>
        </div>
    </div>
</div>

